@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$hyper-violet: #d500f9;
$winter-grey: #cfd8dc;
$cool-grey: #FAFAFA;
$shadow-grey: rgba(0, 0, 0, 0.35);
$arctic-snow: white;
$dark-grey: #1c313a;
$space-ghost-purp: linear-gradient(39deg, rgba(54,19,240,1) 0%, rgba(158,0,197,1) 60%);
$purp-dog:rgb(54,19,240);

@media only screen and (min-width: 768px) {

.caseStudy-container1 {
  display: grid;
  grid-column: 1/12;
  grid-row:1;
  grid-template-columns: repeat(11, 1fr);
  margin-bottom:60px;

  .wireframe {
    margin:0px auto;
    width:96%;
    box-shadow: 2px 2px 2px $winter-grey;
  }
    a {
      color: $hyper-violet;
    }


  .wireframe1 {
    margin:0px auto;
    width:96%;
    box-shadow: 2px 2px 2px $winter-grey;
    border: 1px solid $winter-grey;
  }

  .sketches {
    margin:0px auto;
    width:96%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    .sketch {
    width:100%;
    }
  }

  .content {
    grid-column: 1/12;
    grid-row:3;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    justify-content: center;
    align-items: center;
  }

  .subtitle {
    padding-top:10px;
    color:$hyper-violet;
    font-family:'Open Sans', sans-serif;
    font-weight:600;
    grid-column: 1/12;
    grid-row:5;
  }

  .Back{
    color:$hyper-violet;
    text-decoration: none;
    grid-row:1;
    grid-column:1 / 12;
    margin-bottom: 0px;
    font-size:28px;
  }

  .Backp{
    margin-bottom: 0px;
    grid-row:1;
  }

  .caseTitle {
    grid-column: 2 / 11;
    margin-top:10px;
    margin-left:70px;
    font-size:25px;
    font-weight:600;
    color:$dark-grey;
    grid-row:2;
  }

  .content1 {
    grid-row:4;
    grid-column: 2 / 11;
    margin: 0px 60px;
    padding:0px;


  }

  .content2 {
    grid-column: 2 / 11;
    margin: 0px 60px;
    grid-row:4;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .doc {
    background-image: url("../CaseStudies/images/doc1.png");
    background-size:cover;
    background-position: center;
    grid-column: 1 / 12;
    width:100%;
    height:600px;
    grid-row:3;
  }

  .doc2 {
    background-image: url("../CaseStudies/images/doc2.png");
    background-size:cover;
    background-position: center;
    grid-column: 2 / 11;
    width:100%;
    height:500px;
    grid-row:6;
  }

  .doc2cap {
    grid-row:7;
    grid-column: 2 / 11;
    margin: 0px 60px;
    padding:0px;
  }

  .doc2cap2 {
    grid-row:8;
    grid-column: 2 / 11;
    margin: 0px 60px;
    padding:0px;
  }

  .doc3sub {
    grid-row:9;
    padding-top:20px;
    color:$hyper-violet;
    font-family:'Open Sans', sans-serif;
    font-weight:600;
    grid-column: 2 / 11;
    margin: 0px 60px;
    padding-bottom:10px;
  }

  .doc3 {
    justify-content: center;
    background-image: url("../CaseStudies/images/doc3.png");
    background-size:cover;
    background-position: center;
    grid-column: 2 / 11;
    width:95%;
    height:500px;
    grid-row:10;
    margin: 0px auto;

  }

  .doc3cap {
    grid-row:11;
    grid-column: 2 / 11;
    margin: 0px 60px;
    padding:0px;
  }

  .doc4sub {
    grid-row:12;
    padding-top:20px;
    color:$hyper-violet;
    font-family:'Open Sans', sans-serif;
    font-weight:600;
    grid-column: 2 / 11;
    margin: 0px 60px;
  }

  .doc4 {
    background-image: url("../CaseStudies/images/doc4.png");
    background-size:cover;
    background-position: center;
    grid-column: 2 / 11;
    width:95%;
    height:500px;
    margin: 0px auto;
    grid-row:13;
  }

  .doc4cap {
    grid-row:14;
    grid-column: 2 / 11;
    margin: 0px 60px;
    padding:0px;
  }



  .ipo {
    grid-row:3;
    grid-column: 2 / 11;
    width:88%;
    margin:0px auto;
    margin-bottom:10px;
    border-radius:5px;
  }

  .ipo-header {
    grid-row:3;
    grid-column: 2 / 11;
    width:88%;
    margin:0px auto;
    margin-bottom:10px;
    border-radius:5px;
  }

  .ds {
    grid-row:3;
    grid-column: 2 / 11;
    width:96%;
    margin:0px auto;
    margin-bottom:10px;
    border-radius:5px;
  }

  .fwsite {
    grid-row:3;
    grid-column: 2 / 11;
    width:88%;
    margin:0 auto;
  }

  .fwblog {
    grid-row:3;
    grid-column: 2 / 11;
    width:100%;
    margin:0 auto;
    border-radius:5px;
    border:1px solid $winter-grey;
    box-shadow: 2px 2px 2px $winter-grey;
    margin-bottom: 20px;
  }

  .ipo2 {
    background-image: url("../CaseStudies/images/ipo2.png");
    background-size:cover;
    background-position: center;
    width:95%;
    height:650px;
    margin: 0px auto;
    grid-row:6;
    border:1px solid $winter-grey;
    box-shadow: 2px 2px 2px $winter-grey;
  }

  .ipo2cap {
    grid-row:7;
  }

  .ipo3 {
    background-image: url("../CaseStudies/images/doc3.png");
    background-size:cover;
    background-position: center;
    grid-column: 1 / 12;
    width:100%;
    height:200px;
    grid-row:9;
  }

  .ipo3cap {
    grid-row:10;
  }

  .ipo3sub {
    grid-row:8;
    padding-top:10px;
    color:$hyper-violet;
    font-family:'Open Sans', sans-serif;
    font-weight:600;
    grid-column: 1/12;
  }

  .ipo4 {
    background-image: url("../CaseStudies/images/doc4.png");
    background-size:cover;
    background-position: center;
    grid-column: 1 / 12;
    width:100%;
    height:200px;
    grid-row:12;
  }

  .ipo4cap {
    grid-row:13;
  }

  .ipo4sub {
    grid-row:11;
    padding-top:10px;
    color:$hyper-violet;
    font-family:'Open Sans', sans-serif;
    font-weight:600;
    grid-column: 1/12;
  }

  p {
    margin-left:20px;
  }

}
}
