@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$hyper-violet: #d500f9;
$winter-grey: #cfd8dc;
$cool-grey: #FAFAFA;
$shadow-grey: rgba(0, 0, 0, 0.35);
$arctic-snow: white;

.mobileImages{
  display:block;
}

.desktopImages-col1 {
  display:none;
}
.desktopImages-col2 {
  display:none;
}
.desktopImages-col3 {
  display:none;
}

.GraphicDesign {
  margin-top:30px;
  padding-top:30px;
  border-top: 1px solid $winter-grey;
  grid-column: 1 / 12;
  display:grid;
  grid-template-columns: repeat(11, 1fr);
  background-color: $cool-grey;;

  .mobileImages {
    grid-column: 1 / 12;
    margin: 0px 20px;

    .image {
      grid-column: 2 / 11;
      width:100%;
      border: 1px solid $winter-grey;
      box-shadow: 2px 2px 2px $shadow-grey;
      border-radius: 5px;
      margin-bottom:20px;

    }


  }




}
