@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$hyper-violet: #d500f9;
$winter-grey: #cfd8dc;
$cool-grey: #FAFAFA;
$shadow-grey: rgba(0, 0, 0, 0.35);
$arctic-snow: white;
$dark-grey: #1c313a;
$space-ghost-purp: rgb(54,19,240);
$purp-dog:linear-gradient(39deg, rgba(54,19,240,1) 0%, rgba(158,0,197,1) 60%);

@media only screen and (min-width: 768px) {

  .FeaturedCaseStudy {
    display:inline;
  }


.box {
  width:100%;
  height:100%;
  grid-column-start:0;
  grid-column-end:6;
  background-color: $hyper-violet;

}

.App {
  display:grid;
  grid-template-columns: repeat(11, 1fr);
}

.CircleTextDesktop {
  display:block;
  text-align: center;
  font-family: 'Kumar One Outline', sans-serif;
  color: $space-ghost-purp;
  font-size:2.5em;
  font-weight:200;
  background-color:white;
  border-radius:200px;
  line-height: 85px;
  height:75px;
  width:75px;
  box-shadow: 1px 1px 1px $winter-grey;
  border:1px solid $winter-grey;
  margin-left:-15px;
}

.DesktopSlogan {
  display:flex;
  align-items: center;
  grid-row-start:1;
  grid-column: 4/12;

  .LogoTextDesktop {
    font-family: 'Kumar One Outline', sans-serif;
    color: $hyper-violet;
    font-size:2.5em;
    font-weight:200;
    margin-right:20px;
    margin-left:-30px;
  }
}

.Header {
  display:flex;
  justify-content: flex-start;
  flex-direction:row;
  background-color: lightgray;
  height:16.45em;
  width:16.45em;
  border:1px solid $winter-grey;
  border-radius:300px;
  background-image: url("background-desktop@2x.png");
  background-size: cover;
  grid-column-start: 1;
  grid-row-start:1;
  margin: 20px;
  margin-left: 60px;
  box-shadow: 1px 1px 1px $winter-grey;

  .HeaderText {
    display:none;
    height:6.5em;
    width:20em;
    background-color: $arctic-snow;
    margin: 30px;
    margin-top: 40px;
    padding: 10px;
    box-shadow: 2px 2px 2px $shadow-grey;
    border:1px solid $winter-grey;

    animation-delay:4s;
    animation-name:mCircle;
    animation-duration:1s;
    animation-fill-mode: forwards;
    offset: path('l -30,0');

    h1 {
      padding: 0px;
      margin: 0px;
      font-family: 'Kumar One Outline', sans-serif;
      color: $hyper-violet;
      font-size:2.5em;
      padding-left:10px;
      font-weight:200;
      animation-delay:4s;
      animation-name: headerNoMargin;
      animation-duration:3s;
      animation-fill-mode: forwards;

    }

    h1:after {
      content: 'Ayon';
      animation-name: headerDissapear;
      animation-delay:3s;
      animation-duration:2.75s;
      animation-fill-mode: forwards;
    }

    p {
      margin: 0px;
      margin-top:0px;
      padding-top: 0px;
      padding-bottom: 10px;
      padding-left:10px;
      animation-delay:3s;
      animation-name: textDissapear;
      animation-duration:0.3s;
      animation-fill-mode: forwards;
    }
  }

}

.FeaturedCaseStudy {

  span {
    color:$hyper-violet;
    text-decoration: underline;
  }

  a {
    text-decoration:none;
    color:$dark-grey;
  }
  border-left:1px solid $winter-grey;
  padding-left:10px;
  padding-right:10px;
  grid-column: 8 / 12;
  grid-row:2;

  .Text {
    margin-top:20px;
    padding-left:25px;
    font-size:14px;
    text-transform: uppercase;
    font-weight:700;
    color: $hyper-violet;
  }


    .pLink {
      text-decoration:none;
    }

    .portfolioItem:first-child {
      margin-top:10px;
      padding:5px;
    }

    .portfolioItem {
      box-shadow: 0px 0px 0px $shadow-grey;
      transition: box-shadow 0.2s;
    }

  .portfolioItem {
    margin:30px 20px;

    .PortfolioImageOne {
      width:100%;
      height:8.0em;
      background-color: $winter-grey;
      border-radius:5px;
      box-shadow: 2px 2px 2px $shadow-grey;
      transition: box-shadow 0.2s;
      background-image: url("./doc.jpg");
      background-position: 95% 95%; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }

    .PortfolioImageOne:hover {
      box-shadow: 10px 10px 10px $shadow-grey;
      transition: box-shadow 0.5s;
    }

    p {
      margin:20px 0px 0px 0px;;
    }

    .portfolioTitle{
      font-weight:600;
      color: $dark-grey;
    }

    .PortfolioLink {
      font-size:14px;
      color: $dark-grey;
      transition: 0.5s color;
    }

    .PortfolioLink:hover {
      color: $hyper-violet;
      transition: 0.5s color;
    }


    .tags {
      margin-top:0;
      margin-bottom:10px;
      display:flex;
      flex-direction: row;

      p {
        margin-top:10px;
        font-size:12px;
        margin-right:5px;
        text-transform: capitalize;
        padding:3px 6px;
        background-color:#ff5bff;
        border-radius:5px;
        font-weight:600;
        color:white;
      }

    }
  }

}

.BlogSection {
  display:flex;
  flex-direction:column;
  justify-content: center;
  background-color: $arctic-snow;
  margin:0;
  border:none;
  padding: 20px 50px 20px 50px;
  grid-column: 4 / 8;
  max-height:100%;

  .blogTags {
    margin-top:5px;
    margin-bottom:30px;
    display: flex;
    flex-direction:row;

    .blogtag {
      font-size:12px;
      margin-right:5px;
      text-transform: capitalize;
      padding:3px 6px;
      background-color:#ff5bff;
      border-radius:5px;
      font-weight:600;
      color:white;
    }

  }
  .Text {
    font-weight:600;
    font-size:16px;
    margin: 10px 0px;
    margin-top:15px;
  }

  .postImage {
    max-height:100px;
    overflow: hidden;
    border-radius:5px;
    border:1px solid $winter-grey;
    box-shadow: 1px 1px 1px $winter-grey;
    transition: box-shadow 0.5s;
  }

  .postImage {
    max-height:100px;
    overflow: hidden;
    border-radius:5px;
    border:1px solid $winter-grey;
    box-shadow: 1px 1px 1px $winter-grey;
    transition: box-shadow 0.5s;
  }

  .postImage:hover {
    box-shadow: 5px 5px 5px $winter-grey;
    transition: box-shadow 0.5s;
  }

  img {
    display:block;
    width:100%
  }


  #post0 {
    display:block;
  }

  #post1 {
    display:block;
  }

  a {
    text-decoration:none;
    color: $dark-grey;
  }

  a:first-child {
    display:none;
  }

  .Title {
    text-transform: uppercase;
    font-weight:700;
    color: $hyper-violet;
    margin-bottom:20px;

  }

  .Title::after {
    content:'s';
  }

  p {
    margin:0;
    font-size:14px;
    font-weight:500;
    color: $dark-grey;
  }

}

.DesktopBorder {
  border-bottom:1px solid $winter-grey;
  grid-column: 1/12;
  grid-row:1
}

@keyframes borderTransitionIn {
  from {border: 1px solid $winter-grey;}
  to {border: 1px solid $hyper-violet;}
}

@keyframes borderTransitionOut {
  from {border: 1px solid $hyper-violet;}
  to {border: 1px solid $winter-grey;}
}

.Menu {
  border-right: 1px solid $winter-grey;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  grid-row-start:2;
  grid-column: 1 / 4;
  text-align: center;
  background-color:$cool-grey;
  padding: 10px 0px;
  margin-top:0px;

  li {
    list-style-type: none;
  }

  .MenuItem {
    border: 1px solid $winter-grey;
    border-radius:5px;
    padding:20px;
    margin:10px 25px 10px 25px;
    background-color:white;

    box-shadow: 1px 1px 1px $winter-grey;
    transition: box-shadow 0.5s;

    .Link {
      text-decoration: none;
      color:$hyper-violet;
    }

  }

  .MenuItem:hover {

    transition: box-shadow 0.5s;
    box-shadow: 10px 10px 10px $shadow-grey;

  }

  @keyframes spin {
    100% {transform: rotate(1turn); }
  }

  .loveLine {
    display:flex;
    flex-direction: row;
    justify-content: center;
    color: $dark-grey;
    font-weight:500;
    white-space: nowrap;

    p {
      margin-right: 5px;
    }

    a {
      text-decoration: none;
      white-space: nowrap;
    }

    .heart {
      animation: spin 1s linear infinite;
      animation-play-state: paused;
    }

    .heart:hover {
      animation-play-state: running;
    }

  }

}
}
